services:
  frontend:
    container_name: react-three-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend

  backend:
    container_name: react-three-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      # Mount source code for hot reload
      - ./backend/src:/app/src
      - ./backend/static:/app/static

volumes:
  frontend_node_modules:
